html {
  max-width: 1280px;
  background: rgb(0, 0, 0);
  color: white;
  margin: 0 auto;
}


.navbar-inverse {
  background: white;
  color: orange;
  max-width: 1280px;
  margin: 0 auto;
  height: 40px;
}
.jumbotron {
  background: url('/images/header.jpg') no-repeat center center;
  height: 100vh;
}


.panel-default {
  overflow-y: scroll;
  height: 400px;
}




/*  Carousel */
.carousel-inner img {
  margin: 0 auto;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}





footer {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  height: 100px;
}
.social-media {
  padding: 2em 2em;
}


@media (min-width: 1200px)
bootstrap.min.css:6
.container {
    max-width: 1140px;
}
